<div id="pvt-cart-container" class="pvt-container hide" data-pvt-cart-container>
  <div class="pvt-container-wrap">
    <div class="pvt-close" data-pvt__close>x</div>
    <div class="pvt-header">
      <h2>Pet and Vet Clinic Information</h2>
    </div>
    {%- assign prescriptionIems = '' -%}
    {%- for item in cart.items -%}
      {%- assign showPetVetInfo = false -%}
      {%- for tag in item.product.tags -%}
        {%- if tag == 'prescription' -%}
          {%- assign showPetVetInfo = true -%}
        {%- endif -%}
      {%- endfor -%}
      {%- if showPetVetInfo -%}
        {%- capture prescriptionIems -%}{{ prescriptionIems }}{%- if prescriptionIems != '' -%},{%- endif -%}{{ item.id }}{%- endcapture -%}
        {%- assign prescriptionIems = prescriptionIems | split: ',' -%}
        {%- assign prescriptionIems = prescriptionIems | uniq | join: ',' -%}
      {%- endif -%}
    {%- endfor -%}
    {%- assign prescriptionIems = prescriptionIems | split: ',' -%}
    {%- capture pvtBody -%}
      {%- for prescriptionIem in prescriptionIems -%}
    	{%- assign showImage = 0 -%}
        {%- assign prescriptionIemQty = 0 -%}
        {%- assign pvt_index = 0 -%}
        {%- capture pvt__row-%}
          {%- for item in cart.items -%}
          	{%- assign _prescriptionIem = prescriptionIem | times: 1 -%}
            {%- assign _item_id = item.id | times: 1 -%}
            {%- if _prescriptionIem == _item_id -%}
              {%- assign prescriptionIemQty = prescriptionIemQty | plus: item.quantity -%}
              {%- if showImage == 0 -%}
            	{%- assign showImage = 1 -%}
            	<div class="pvt__header">
                  <div class="grid grid--full cart__row--table-large">
                    <div class="grid__item one-twelfth">
                      <a href="{{ item.url }}" class="cart__image">
                        {%- assign img_url = item | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                        <img class="lazyload"
                             data-src="{{ img_url }}"
                             data-widths="[180]"
                             data-aspectratio="{{ item.aspect_ratio }}"
                             data-sizes="auto"
                             alt="{{ item.title | escape }}">
                      </a>
                    </div>
                    <div class="grid__item eleven-twelfths text-left">
                      <h6>{{ item.product.title }}</h6>
                      <h6>Quantity: {{ item.quantity }}</h6>
                    </div>
                  </div>
    			</div>
    		  {%- endif -%}
            		
    		  {%- assign _pet_id = '' -%}
    		  {%- assign _vet_id = '' -%}	
    		  {%- assign _med_info = '' -%}
              {%- assign selling_times = '' -%}
            		
    		  {%- for p in item.properties -%}
              	{%- if p.first == '_pet_id' -%}
            	  {%- assign _pet_id = p.last | escape -%}
                {%- endif -%}
                {%- if p.first == '_vet_id' -%}
                  {%- assign _vet_id = p.last | escape -%}
                {%- endif -%}
                {%- if p.first == '_med_info' -%}
              	  {%- assign _med_info = p.last | escape -%}
                {%- endif -%}
    			{%- if p.first == 'Delivery times'-%}
    			  {%- assign selling_times = p.last | escape -%}
    			{%- endif -%}
              {%- endfor -%}
    		  {%- assign selling_plan = '' -%}
    		  {%- if item.selling_plan_allocation != empty  -%}
                {%- assign selling_plan = item.selling_plan_allocation.selling_plan.id -%}
              {%- endif -%}
              <div class="pvt__row" data-bsub-item-index="{{ pvt_index }}" data-bsub-item-qty="{{ item.quantity }}" data-bsub-item-key="{{item.key}}" data-bsub-item-times="{{ selling_times }}" data-bsub-item-plan_id="{{ selling_plan }}">
                <div class="grid grid--full cart__row--table-large">
                  <div class="grid__item one-twelfth text-center">
                    <select class="pvt-qty" data-pvt-qty="{{ item.quantity }}" required>
                      {% for qty in (1..item.quantity) %}
                      <option value="{{ qty }}"{% if forloop.last %} selected{% endif %}>{{ qty }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="grid__item ten-twelfths">
                    <div class="grid grid--full cart__row--table-large">
                      <div class="grid__item four-twelfths">
                        <div class="pet-select-list pvt-select-list">
                          <select class="pvt-select" name="properties[_pet_info]" data-pet-select-list="{{ _pet_id }}" required></select>
                        </div>
                      </div>
                      <div class="grid__item four-twelfths">
                        <div class="vet-select-list pvt-select-list">
                          <select class="pvt-select" name="properties[_vet_info]" data-vet-select-list="{{ _vet_id }}" required></select>
                        </div>
                      </div>
                      <div class="grid__item four-twelfths">
                        <div class="med-select-list pvt-select-list">
                          <select class="pvt-select" name="properties[_med_info]" data-med-select-list required>
                            <option value="">Select Approval Method</option>
                            {%- for _med_info_data in _med_info_datas -%}
                            <option value="{{ _med_info_data }}"{% if _med_info == _med_info_data %} selected{% endif %}>{{ _med_info_data }}</option>
                            {%- endfor -%}
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="grid__item one-twelfth text-center">
                    <span class="pvt__remove" data-pvt__remove>x</span>
                  </div>
                </div>
    		  </div>
    		  {%- assign pvt_index = pvt_index | plus: 1 -%}
            {%- endif -%}
          {%- endfor -%}
        {%- endcapture -%}
        <form class="pvt__rows" data-pvt__rows data-v-id="{{ prescriptionIem }}" data-v-qty="{{ prescriptionIemQty }}" data-v-indexs="" validate>
          {{ pvt__row }}
          <div class="pvt__err hide">
            <p>Assigned quantities must be less than <span class="less-qty"></span> to add another pet.</p>
          </div>
          <div class="pvt__footer">
          	<span class="btn btn--secondary pvt__add" data-pvt__add>+ Add Another Pet</span>
            <button type="submit" class="btn btn--secondary pvt__update" data-pvt__done>Done</button>
          </div>
    	</form>
      {%- endfor -%}
    {%- endcapture -%}
    <div class="pvt-body">{{ pvtBody }}</div>
  </div>
</div>