{{ "page-section-icons-with-header.css" | asset_url | stylesheet_tag }}
{%liquid 
    if section.blocks.size == 1
        assign blocks_length = "one"
    endif
    if section.blocks.size == 2
        assign blocks_length = "two"
    endif
    if section.blocks.size == 3
        assign blocks_length = "three"
    endif
    if section.blocks.size == 4
        assign blocks_length = "four"
    endif

%}

<section class="page-section-icons-with-header">
    {% if section.settings.header_text %}
        <div class="icons-with-header-text-wrapper_top">
            <h2 style="text-align: {{ section.settings.text_alignment }}" >{{ section.settings.header_text }}</h2>
        </div>
        {% if section.blocks.size > 0 %}
            <div class="icons-with-header-text-wrapper_bottom {{ blocks_length }}-items">
                {% for block in section.blocks %}
                    <div class="icons-with-header-item ">
                        <div class="item-top">
                            <img loading="lazy" src="{{ block.settings.column_icon | img_url: '100x'}}" alt="{{ block.settings.column_icon.alt }}" width="100" height="100">
                        </div>
                        <div class="item-bottom">
                            <h3>{{ block.settings.column_text }}</h3>
                            <p>{{ block.settings.column_subtext }}</p>
                        </div>
                    </div>
                {% endfor %} 
            </div>
        {% endif %}
    {% endif %}

</section>

 {% schema %}
  {
      "name":"Icons with Header",
      "class": "page-section-icons-with-header",
      "max_blocks": 4,
      "settings":[
          {
              "type": "header",
              "content": "Header Text"
          },
          {
              "type": "text",
              "id": "header_text",
              "label": "Header Text",
              "default": "Default Text",
              "placeholder": "Text"
          },
          {
              "type": "header",
              "content": "Text Alignment"
          },
          {
              "type": "select",
              "id": "text_alignment",
              "label": "Text Alignment",
              "options": [
                  {
                  "value": "start",
                  "label": "Left"
                  },
                  {
                      "value": "center",
                      "label": "Center"
                  },
                  {
                      "value":"end",
                      "label":"Right"
                  }
              ],
              "default": "center",
              "info": "Controls alignment of header text"
          }
      ],
      "blocks": [
          {
              "type":"icons-column",
              "name":"Icons Column",
              "settings":[
                  {
                      "type": "header",
                      "content": "Column Icon"
                  },
                  {
                      "type": "image_picker",
                      "id": "column_icon",
                      "label":"Column Icon"
                  },
                  {
                      "type": "header",
                      "content": "Column Text Inputs"
                  },
                  {
                      "type": "text",
                      "id": "column_text",
                      "label": "Main Text",
                      "default": "Default Text",
                      "placeholder": "Text"
                  },
                  {
                      "type": "text",
                      "id": "column_subtext",
                      "label": "Column SubText",
                      "default": "SubText",
                      "placeholder": "Text"
                  }
              ]
          }
      ],
      "presets": [
        {
            "name": "Icons with Header",
            "category": "Icons"
        }
      ]
  }
  {% endschema %}