{{ "pet-portrait-product-template.css" | asset_url | stylesheet_tag }}
{%- assign breadmenu = linklists[section.settings.breadmenu] -%}
{% include 'product-template-with-upload',
  description_style: section.settings.description_style,
  bread_menu: breadmenu,
  image_position: section.settings.image_position,
  image_container_width: section.settings.image_size,
  section_id: product.id,
  social: section.settings.social_enable,
  thumbnail_position: section.settings.thumbnail_position,
  thumbnail_arrows: section.settings.thumbnail_arrows,
  video_looping: section.settings.enable_video_looping,
  video_style: section.settings.product_video_style,
  details_content:section.settings.details-content,
  show_tab_content_info:section.settings.show_tab_content_info,
  show_file_upload: section.settings.show_file_upload
%}

{% if settings.enable_product_reviews and settings.reviews_layout == 'full' %}
  <hr id="Reviews-{{ product.id }}" class="hr--clear">
  <div class="index-section product-reviews product-reviews--full">
    <div class="page-width">
      <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
    </div>
  </div>
{% endif %}
<script>
    // Override default values of shop.strings for each template.
      // Alternate product templates can change values of
      // add to cart button, sold out, and unavailable states here.
      theme.productStrings = {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }}
      };
    </script>
    
    <style>
      .collapsibles-wrapper--border-bottom {
        display: none;
      }
    </style>
    
  

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "select",
        "id": "description_style",
        "label": "Description position",
        "default": "default",
        "options": [
          {
            "value": "default",
            "label": "Next to media"
          },
          {
            "value": "full",
            "label": "Below media"
          }
        ]
      },
      {
        "type": "link_list",
        "id": "breadmenu",
        "label": "Navigation",
        "default": "main-menu"
      },
      {
        "type": "checkbox",
        "id": "social_enable",
        "label": "Enable social sharing",
        "default": true
      },
      {
        "type": "header",
        "content": "Media"
      },
      {
        "type": "paragraph",
        "content": "Learn more about [media types](https://help.shopify.com/en/manual/products/product-media)"
      },
      {
        "type": "select",
        "id": "image_position",
        "label": "Position",
        "default": "right",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "select",
        "id": "image_size",
        "label": "Size",
        "default": "medium",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ]
      },
      {
        "type": "select",
        "id": "thumbnail_position",
        "label": "Thumbnail position",
        "default": "beside",
        "options": [
          {
            "value": "beside",
            "label": "Next to media"
          },
          {
            "value": "below",
            "label": "Below media"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "thumbnail_arrows",
        "label": "Show thumbnail arrows"
      },
      {
        "type": "checkbox",
        "id": "enable_video_looping",
        "label": "Enable video looping",
        "default": true
      },
      {
        "type": "select",
        "id": "product_video_style",
        "label": "Video style",
        "default": "muted",
        "options": [
          {
            "value": "muted",
            "label": "Video without sound"
          },
          {
            "value": "unmuted",
            "label": "Video with sound"
          }
        ],
        "info": "Video with sound will not autoplay"
      },				
      {
        "type": "html",
        "id": "details-content",
        "label": "Details content"
      },
      {
        "type": "checkbox",
        "id": "show_tab_content_info",
        "label": "Show tab content info"
      },
      {
          "type": "checkbox",
          "id": "show_file_upload",
          "label": "Show Product File Upload",
          "default": true
      }
    ]
  }
{% endschema %}
